
body {
  color: #171a20;
  font-family: 'Fraunces', serif;
}
header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 5px 20px;
}

.desktop{
    display: none;
}
@media (min-width: 768px) {
    .desktop{
    display: initial;
}
}

a.logo {
  height: 12px;
  width: 100px;
  color: inherit;
}
header a {
  color: inherit;
}
header nav a {
  text-decoration: none;
  padding: 5px 10px;
}

header nav.center {
  text-align: center;
}
